[package]
name = "rs_parsepatch"
version = "0.2.2"
authors = ["calixteman <cdenizet@mozilla.com>"]
edition = "2018"

[lib]
name = "rs_parsepatch"
crate-type = ["cdylib"]

[dependencies]
parsepatch = "0.2.0"

[dependencies.pyo3]
version = "0.7.0-alpha.1"
features = ["extension-module"]
